/* Site nav */ 

.site-nav .link.current:hover,
.site-nav .link.current:focus {     
  color: var(--accent-color);
}
  
/* Contact nav */

.contact-nav .link.current:hover,
.contact-nav .link.current:focus {
  color: var(--accent-color);
} 

/* Hero */

.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;

  outline: 2px solid yellow;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */ 

.button.order {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Features */

.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid green;
}

.feature .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;
}

.feature .text {
  margin-bottom: ;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Works */

.section.works {
  padding-bottom: 94px;
  background-color: teal;
}

/* Team */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--additional-bg-color);
} 

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  /* text-align: center; */
}

.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  
  /* text-align: center; */
}
