/* Site nav */ 

.site-nav .link:hover,
.site-nav .link:focus {     
  color: var(--accent-color);
}
  
/* Contact nav */

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
} 

/* Hero */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */ 

.button.order {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Features */

.feature .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;
}

.feature .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Team */

.section-team {
  background-color: var(--additional-bg-color);
} 

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  /* text-align: center; */
}

.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  
  /* text-align: center; */
}
