/* Site nav */ 

.site-nav .link.current {
  color: var(--accent-color);
}
  
/* Hero */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bg-color);
  text-align: center; 
  
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */ 

.button.order {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Features */

.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature > .item {
  width: calc(100% / 4 - 30px);
}

.feature .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;
}

.feature .text {
  margin-bottom: ;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Works */

.section.works {
  padding-bottom: 94px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.work > .item {
  width: calc(100% / 3 - 30px);
}

.work .item img {
  width: 100%;
}

/* Team */

.section-team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
 
  background-color: var(--additional-bg-color);
} 

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
  
.team > .item {
  width: calc(100% / 4 - 30px);
  
  background-color: var(--white-color);
}

.team-image {
  width: 100%;
  margin-bottom: 30px;
}

.team .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
